# coding: utf-8

"""
    Tower of Babel

    Our server helps out tagging STT raw segments as well as providing an interface for translation to the relevant professsionals.  # noqa: E501

    OpenAPI spec version: 0.1
    Contact: liad4231@gmail.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class NemesisApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_raw_attachment_by_id(self, attachment_id, **kwargs):  # noqa: E501
        """get_raw_attachment_by_id  # noqa: E501

        Get **raw** attachment by its id. Note that a single nemsis document may have multiple attachments.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_raw_attachment_by_id(attachment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str attachment_id: The id of the document's attachment itself. (required)
        :return: TextFile
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_raw_attachment_by_id_with_http_info(attachment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_raw_attachment_by_id_with_http_info(attachment_id, **kwargs)  # noqa: E501
            return data

    def get_raw_attachment_by_id_with_http_info(self, attachment_id, **kwargs):  # noqa: E501
        """get_raw_attachment_by_id  # noqa: E501

        Get **raw** attachment by its id. Note that a single nemsis document may have multiple attachments.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_raw_attachment_by_id_with_http_info(attachment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str attachment_id: The id of the document's attachment itself. (required)
        :return: TextFile
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['attachment_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_raw_attachment_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'attachment_id' is set
        if ('attachment_id' not in params or
                params['attachment_id'] is None):
            raise ValueError("Missing the required parameter `attachment_id` when calling `get_raw_attachment_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'attachment_id' in params:
            path_params['attachment_id'] = params['attachment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml', 'text/plain'])  # noqa: E501

        # Authentication setting
        auth_settings = ['nms_auth']  # noqa: E501

        return self.api_client.call_api(
            '/nms/document/attachment/raw/{attachment_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TextFile',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_raw_document_by_id(self, document_id, **kwargs):  # noqa: E501
        """get_raw_document_by_id  # noqa: E501

        Get **raw** text by a document id. Note that this requests will combine all attachments together.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_raw_document_by_id(document_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str document_id: The id of the document as presented in Nemesis. (required)
        :return: TextFile
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_raw_document_by_id_with_http_info(document_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_raw_document_by_id_with_http_info(document_id, **kwargs)  # noqa: E501
            return data

    def get_raw_document_by_id_with_http_info(self, document_id, **kwargs):  # noqa: E501
        """get_raw_document_by_id  # noqa: E501

        Get **raw** text by a document id. Note that this requests will combine all attachments together.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_raw_document_by_id_with_http_info(document_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str document_id: The id of the document as presented in Nemesis. (required)
        :return: TextFile
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['document_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_raw_document_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'document_id' is set
        if ('document_id' not in params or
                params['document_id'] is None):
            raise ValueError("Missing the required parameter `document_id` when calling `get_raw_document_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'document_id' in params:
            path_params['document_id'] = params['document_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml', 'text/plain'])  # noqa: E501

        # Authentication setting
        auth_settings = ['nms_auth']  # noqa: E501

        return self.api_client.call_api(
            '/nms/document/raw/{document_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TextFile',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
